<div class="container-fluid" id="logos-scroll">
    <div class="container">
        <div class="logos-scroll-title">
            We protect 6200+ enterprises and millions of people daily
        </div>
        <div class="scrolling-logos">
            <div><img src="{{ asset('build/images/logo-company-aarp.svg') }}"></div>
            <div><img src="{{ asset('build/images/logo-company-seek.svg') }}"></div>
            <div style="margin-top: -3px;"><img src="{{ asset('build/images/logo-company-extended-stay.svg') }}"></div>
            <div style="margin-top: 3px;"><img src="{{ asset('build/images/logo-company-shutterfly.svg') }}"></div>
            <div><img src="{{ asset('build/images/logo-company-sunlife.svg') }}"></div>
            <div><img src="{{ asset('build/images/logo-company-popular.svg') }}"></div>
            <div><img src="{{ asset('build/images/logo-company-digicert.svg') }}"></div>
            <div><img src="{{ asset('build/images/logo-company-blue-shield.svg') }}"></div>
            <div style="margin-top: -3px;"><img src="{{ asset('build/images/logo-company-tower.svg') }}"></div>
        </div>
    </div>
</div>
